* {
    box-sizing: border-box
}
 
:root {
    --main-color: rgb(42, 136, 243);
    --heading-color: rgb(105, 240, 228);
    --hover-color: rgb(41, 153, 168);
    --heading-background: white;
}
 
.header {
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    border: solid 1px;
}

header a, .header span {
    color: var(--heading-color);
    font-weight: lighter;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-decoration: none;
}

header a:hover {
    color: var(--heading-background);
}

.answer-list li:hover {
    background-color: var(--hover-color);
}
 
.quiz-wrapper h1, p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    text-align: center;
    justify-content: center;
    margin: 50px auto;
}

.button:hover {
    background-color: var(--hover-color);
}


